.cart_wrapper {
  display: flex;
  justify-content: space-between;

  .cart_sidebar {
    border: 1px solid grey;
    border-radius: 20px;
    width: 45%;
    padding: 15px;
    height: 500px;
  }
  .cart_main_window {
    border: 1px solid grey;
    border-radius: 20px;
    width: 45%;
    padding: 15px;
    height: 500px;
  }
}
.submit_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .submit_btn {
    height: 35px;
    width: 120px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
  }
  .total_price {
    margin-right: 40px;
  }
}
